@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');

/*Tipos de fontes
    font-family: 'Allison', cursive; /Texto estilizado/
    font-family: 'Anton', sans-serif; /Título/
    font-family: 'Source Serif Pro', serif; /Texto simples/
*/


